#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 950px 1394px #fff, 1037px 1042px #fff, 607px 997px #fff,
        904px 805px #fff, 650px 847px #fff, 1148px 979px #fff, 1456px 660px #fff,
        439px 142px #fff, 312px 937px #fff, 1307px 596px #fff, 154px 1307px #fff,
        1249px 725px #fff, 1976px 1607px #fff, 686px 593px #fff,
        596px 532px #fff, 457px 1081px #fff, 1790px 94px #fff, 355px 329px #fff,
        1022px 1466px #fff, 1328px 505px #fff, 322px 143px #fff,
        454px 1370px #fff, 751px 1762px #fff, 1637px 122px #fff,
        1577px 1229px #fff, 829px 1888px #fff, 913px 1519px #fff,
        1428px 504px #fff, 1799px 1839px #fff, 20px 756px #fff, 898px 269px #fff,
        560px 1243px #fff, 383px 1152px #fff, 407px 433px #fff,
        675px 1740px #fff, 1607px 1858px #fff, 781px 1966px #fff,
        299px 679px #fff, 92px 1497px #fff, 248px 68px #fff, 770px 230px #fff,
        757px 1531px #fff, 1546px 771px #fff, 1015px 1124px #fff,
        1550px 1065px #fff, 851px 148px #fff, 423px 843px #fff, 336px 294px #fff,
        396px 526px #fff, 1426px 1589px #fff, 778px 739px #fff,
        710px 1477px #fff, 1209px 1527px #fff, 1442px 262px #fff,
        1014px 903px #fff, 1882px 1610px #fff, 1417px 610px #fff,
        1502px 496px #fff, 596px 706px #fff, 649px 157px #fff,
        1572px 1917px #fff, 60px 349px #fff, 1315px 1156px #fff,
        467px 153px #fff, 109px 1997px #fff, 305px 1373px #fff,
        1384px 1463px #fff, 180px 1991px #fff, 28px 584px #fff,
        433px 1201px #fff, 993px 315px #fff, 635px 785px #fff, 1700px 346px #fff,
        1727px 685px #fff, 752px 530px #fff, 1434px 1909px #fff,
        790px 1466px #fff, 1374px 1855px #fff, 1281px 522px #fff,
        1361px 1107px #fff, 908px 1766px #fff, 1535px 1834px #fff,
        641px 351px #fff, 642px 696px #fff, 6px 881px #fff, 380px 1749px #fff,
        406px 209px #fff, 401px 1648px #fff, 750px 705px #fff, 511px 1550px #fff,
        82px 926px #fff, 368px 177px #fff, 1734px 123px #fff, 1044px 933px #fff,
        45px 1266px #fff, 1862px 1649px #fff, 592px 1472px #fff, 819px 3px #fff,
        60px 159px #fff, 885px 1564px #fff, 1829px 1145px #fff, 912px 793px #fff,
        325px 1155px #fff, 476px 1035px #fff, 1557px 955px #fff, 81px 135px #fff,
        300px 1365px #fff, 71px 1525px #fff, 1383px 240px #fff, 52px 1396px #fff,
        932px 1832px #fff, 307px 1119px #fff, 366px 1041px #fff,
        375px 287px #fff, 917px 217px #fff, 732px 1685px #fff, 221px 731px #fff,
        1825px 972px #fff, 1958px 1333px #fff, 1980px 1552px #fff,
        1605px 945px #fff, 155px 762px #fff, 1410px 1300px #fff,
        1478px 917px #fff, 1773px 738px #fff, 1534px 1034px #fff,
        330px 1551px #fff, 775px 1541px #fff, 914px 1998px #fff,
        448px 789px #fff, 1351px 160px #fff, 811px 284px #fff,
        1182px 1050px #fff, 76px 1509px #fff, 860px 1389px #fff,
        722px 740px #fff, 1379px 1036px #fff, 1210px 910px #fff, 774px 57px #fff,
        37px 865px #fff, 440px 445px #fff, 1013px 627px #fff, 253px 1012px #fff,
        1902px 1073px #fff, 1921px 1670px #fff, 219px 1068px #fff,
        963px 665px #fff, 324px 1751px #fff, 743px 572px #fff,
        1929px 1955px #fff, 1826px 509px #fff, 692px 1207px #fff,
        1049px 1454px #fff, 544px 1462px #fff, 1169px 176px #fff,
        1522px 109px #fff, 1082px 628px #fff, 538px 1077px #fff,
        1971px 1841px #fff, 1423px 311px #fff, 77px 1526px #fff,
        909px 1082px #fff, 434px 691px #fff, 926px 1706px #fff,
        971px 1627px #fff, 443px 185px #fff, 1644px 1646px #fff, 1171px 4px #fff,
        992px 220px #fff, 1318px 557px #fff, 1950px 1663px #fff,
        796px 319px #fff, 1130px 109px #fff, 1976px 1162px #fff,
        1150px 1006px #fff, 1401px 1224px #fff, 1024px 1461px #fff,
        1507px 189px #fff, 1788px 927px #fff, 323px 1919px #fff,
        1177px 753px #fff, 1119px 1159px #fff, 762px 1281px #fff,
        1616px 241px #fff, 1347px 454px #fff, 1669px 1327px #fff,
        1411px 560px #fff, 1547px 1288px #fff, 950px 1476px #fff,
        1806px 1248px #fff, 537px 1503px #fff, 355px 431px #fff,
        1703px 1438px #fff, 1195px 1524px #fff, 1117px 1426px #fff,
        245px 1994px #fff, 1053px 568px #fff, 1948px 1770px #fff,
        723px 607px #fff, 1875px 49px #fff, 1899px 519px #fff,
        1066px 1131px #fff, 1102px 1813px #fff, 1895px 1092px #fff,
        701px 1403px #fff, 137px 1132px #fff, 1098px 632px #fff,
        610px 1104px #fff, 497px 68px #fff, 1575px 1167px #fff,
        1403px 961px #fff, 548px 403px #fff, 338px 800px #fff,
        1086px 1688px #fff, 510px 928px #fff, 211px 1631px #fff,
        1162px 635px #fff, 1888px 937px #fff, 1947px 1089px #fff,
        1918px 433px #fff, 1258px 457px #fff, 1380px 1142px #fff,
        627px 707px #fff, 574px 516px #fff, 1905px 340px #fff,
        1425px 1783px #fff, 282px 1334px #fff, 684px 1976px #fff,
        1852px 1367px #fff, 983px 744px #fff, 801px 890px #fff,
        378px 1263px #fff, 1235px 736px #fff, 1132px 150px #fff,
        97px 1001px #fff, 1820px 734px #fff, 1307px 810px #fff,
        570px 1301px #fff, 1966px 1929px #fff, 759px 1340px #fff,
        1997px 1330px #fff, 1874px 553px #fff, 807px 415px #fff,
        775px 583px #fff, 648px 1595px #fff, 162px 131px #fff, 863px 1811px #fff,
        942px 390px #fff, 1263px 1211px #fff, 982px 941px #fff, 861px 464px #fff,
        1566px 1570px #fff, 849px 323px #fff, 675px 1382px #fff,
        1656px 462px #fff, 1350px 1857px #fff, 1317px 351px #fff,
        977px 1581px #fff, 533px 396px #fff, 1516px 1734px #fff,
        829px 1699px #fff, 52px 129px #fff, 266px 143px #fff, 762px 909px #fff,
        970px 1987px #fff, 1601px 1137px #fff, 1533px 1095px #fff,
        320px 409px #fff, 904px 1190px #fff, 606px 79px #fff, 471px 212px #fff,
        689px 799px #fff, 1670px 859px #fff, 423px 754px #fff, 327px 644px #fff,
        278px 1568px #fff, 1069px 1892px #fff, 52px 628px #fff, 571px 555px #fff,
        1056px 1159px #fff, 1999px 1025px #fff, 483px 1668px #fff,
        597px 1348px #fff, 1387px 1120px #fff, 1176px 939px #fff,
        283px 633px #fff, 1289px 1741px #fff, 242px 503px #fff, 784px 338px #fff,
        812px 1147px #fff, 1228px 1634px #fff, 301px 1354px #fff,
        1597px 420px #fff, 1647px 570px #fff, 1378px 670px #fff,
        141px 1055px #fff, 1757px 845px #fff, 769px 1913px #fff,
        1512px 1138px #fff, 1723px 1633px #fff, 1768px 182px #fff,
        1413px 297px #fff, 1571px 1714px #fff, 1600px 379px #fff,
        1979px 106px #fff, 1403px 964px #fff, 1604px 31px #fff, 817px 674px #fff,
        355px 1211px #fff, 163px 1686px #fff, 1552px 979px #fff,
        400px 1278px #fff, 383px 530px #fff, 90px 1508px #fff,
        1211px 1957px #fff, 549px 739px #fff, 351px 208px #fff,
        1385px 327px #fff, 48px 991px #fff, 239px 862px #fff, 1432px 1891px #fff,
        1901px 608px #fff, 384px 844px #fff, 759px 1143px #fff,
        1714px 876px #fff, 719px 699px #fff, 498px 5px #fff, 856px 1287px #fff,
        933px 8px #fff, 1734px 247px #fff, 911px 104px #fff, 1546px 143px #fff,
        503px 791px #fff, 130px 139px #fff, 1226px 310px #fff,
        1320px 1413px #fff, 1052px 1990px #fff, 753px 1462px #fff,
        1501px 411px #fff, 1202px 1603px #fff, 680px 1351px #fff,
        8px 1358px #fff, 805px 1678px #fff, 1776px 349px #fff,
        1293px 1273px #fff, 932px 1407px #fff, 10px 1849px #fff,
        1706px 1134px #fff, 1055px 1728px #fff, 1578px 1510px #fff,
        1445px 1519px #fff, 196px 1249px #fff, 736px 1853px #fff,
        881px 1501px #fff, 39px 183px #fff, 184px 1698px #fff, 595px 1877px #fff,
        1995px 1927px #fff, 644px 355px #fff, 729px 1479px #fff, 378px 1px #fff,
        591px 1399px #fff, 1805px 1119px #fff, 243px 1329px #fff,
        1871px 132px #fff, 888px 132px #fff, 1764px 323px #fff, 47px 1246px #fff,
        1859px 1125px #fff, 925px 760px #fff, 1170px 842px #fff,
        1980px 678px #fff, 873px 1378px #fff, 1045px 1853px #fff,
        307px 701px #fff, 516px 339px #fff, 1874px 1911px #fff,
        685px 1751px #fff, 446px 426px #fff, 1810px 377px #fff, 335px 770px #fff,
        338px 928px #fff, 687px 1504px #fff, 1036px 220px #fff,
        1433px 1113px #fff, 1378px 345px #fff, 908px 1122px #fff,
        459px 580px #fff, 1082px 1693px #fff, 812px 1802px #fff,
        743px 480px #fff, 1394px 651px #fff, 1488px 1010px #fff,
        1514px 1690px #fff, 91px 1173px #fff, 1615px 41px #fff,
        1866px 1070px #fff, 406px 898px #fff, 1435px 613px #fff,
        1363px 1969px #fff, 658px 1600px #fff, 1312px 1397px #fff,
        209px 1147px #fff, 1896px 1637px #fff, 1603px 1160px #fff,
        1195px 1577px #fff, 1731px 1803px #fff, 821px 1254px #fff,
        1119px 1522px #fff, 556px 826px #fff, 836px 612px #fff,
        161px 1644px #fff, 887px 393px #fff, 1501px 881px #fff, 938px 531px #fff,
        1261px 515px #fff, 509px 1615px #fff, 428px 257px #fff,
        1861px 918px #fff, 310px 746px #fff, 1937px 79px #fff, 964px 1164px #fff,
        232px 1896px #fff, 896px 337px #fff, 1836px 148px #fff,
        391px 1917px #fff, 955px 1019px #fff, 1623px 1185px #fff,
        1187px 1216px #fff, 10px 1290px #fff, 83px 1012px #fff,
        1572px 1813px #fff, 1067px 1659px #fff, 1888px 520px #fff,
        55px 1409px #fff, 1638px 1951px #fff, 258px 948px #fff, 307px 509px #fff,
        310px 251px #fff, 499px 1365px #fff, 218px 1847px #fff,
        822px 1287px #fff, 499px 1023px #fff, 653px 419px #fff,
        1376px 1170px #fff, 807px 1797px #fff, 204px 1588px #fff,
        1577px 1433px #fff, 757px 1832px #fff, 1458px 1731px #fff,
        69px 1929px #fff, 1855px 511px #fff, 462px 1814px #fff, 142px 900px #fff,
        482px 854px #fff, 734px 831px #fff, 164px 948px #fff, 1004px 1559px #fff,
        581px 1762px #fff, 1908px 453px #fff, 1858px 910px #fff,
        445px 1258px #fff, 138px 1543px #fff, 46px 1914px #fff,
        1733px 673px #fff, 1615px 815px #fff, 1947px 527px #fff,
        416px 772px #fff, 1231px 142px #fff, 689px 1129px #fff, 822px 660px #fff,
        1471px 474px #fff, 650px 99px #fff, 602px 1552px #fff,
        1774px 1401px #fff, 1627px 975px #fff, 315px 945px #fff,
        1606px 1650px #fff, 1737px 105px #fff, 980px 1800px #fff,
        1364px 318px #fff, 442px 1972px #fff, 1428px 1812px #fff,
        598px 766px #fff, 333px 1632px #fff, 944px 1168px #fff,
        1527px 644px #fff, 816px 278px #fff, 1547px 799px #fff,
        1839px 263px #fff, 745px 1469px #fff, 272px 739px #fff,
        186px 1127px #fff, 1864px 27px #fff, 945px 310px #fff,
        1309px 1089px #fff, 500px 885px #fff, 1504px 287px #fff,
        1529px 1752px #fff, 1944px 321px #fff, 868px 256px #fff,
        1187px 94px #fff, 1127px 1230px #fff, 161px 358px #fff,
        672px 1859px #fff, 1941px 1367px #fff, 913px 1502px #fff,
        1905px 1233px #fff, 257px 1578px #fff, 1795px 11px #fff,
        1321px 1918px #fff, 1115px 1731px #fff, 1258px 1011px #fff,
        1366px 1736px #fff, 1668px 1867px #fff, 21px 318px #fff,
        561px 1512px #fff, 854px 599px #fff, 985px 624px #fff,
        1842px 1846px #fff, 1927px 1693px #fff, 862px 1209px #fff,
        1166px 351px #fff, 554px 690px #fff, 358px 1856px #fff,
        357px 1398px #fff, 1699px 1219px #fff, 1218px 571px #fff,
        458px 1429px #fff, 75px 1412px #fff, 1707px 856px #fff, 3px 479px #fff,
        91px 1395px #fff, 1769px 929px #fff, 21px 951px #fff, 1504px 259px #fff,
        1095px 279px #fff, 1527px 247px #fff, 1411px 54px #fff,
        1055px 1790px #fff, 1746px 239px #fff, 723px 640px #fff,
        1806px 1672px #fff, 956px 1334px #fff, 1834px 536px #fff,
        1364px 203px #fff, 542px 1383px #fff, 1974px 1800px #fff,
        736px 1364px #fff, 1605px 1568px #fff, 1413px 881px #fff,
        1734px 195px #fff, 1401px 404px #fff, 1795px 349px #fff,
        402px 272px #fff, 1657px 1039px #fff, 902px 1425px #fff, 458px 32px #fff,
        596px 916px #fff, 29px 678px #fff, 1061px 502px #fff, 1527px 688px #fff,
        1676px 1589px #fff, 1594px 599px #fff, 717px 1958px #fff,
        1551px 1818px #fff, 1238px 1275px #fff, 445px 1474px #fff,
        521px 1528px #fff, 367px 212px #fff, 1950px 1952px #fff,
        664px 614px #fff, 956px 1051px #fff, 774px 1742px #fff,
        1768px 219px #fff, 1669px 1940px #fff, 922px 217px #fff,
        1668px 26px #fff, 1751px 82px #fff, 1183px 220px #fff, 411px 1270px #fff,
        1269px 1898px #fff, 971px 1182px #fff, 1494px 907px #fff,
        937px 508px #fff, 507px 1571px #fff, 792px 888px #fff, 1925px 905px #fff,
        1317px 1093px #fff, 182px 400px #fff, 316px 1618px #fff, 307px 49px #fff,
        1723px 1270px #fff, 520px 815px #fff, 1610px 224px #fff,
        884px 1042px #fff, 176px 1106px #fff, 1815px 265px #fff,
        1829px 450px #fff, 664px 1879px #fff, 370px 1001px #fff,
        1132px 1801px #fff, 1010px 1223px #fff, 884px 718px #fff,
        1727px 438px #fff, 901px 716px #fff, 140px 33px #fff, 1432px 84px #fff,
        752px 377px #fff, 524px 1893px #fff, 1654px 272px #fff, 882px 525px #fff,
        1255px 1155px #fff, 32px 483px #fff, 614px 1489px #fff,
        1393px 1254px #fff, 254px 1628px #fff, 22px 1180px #fff,
        1095px 1753px #fff, 1237px 526px #fff, 64px 202px #fff, 1065px 27px #fff,
        1166px 1519px #fff, 1506px 1275px #fff, 6px 894px #fff,
        1066px 1180px #fff, 810px 1054px #fff, 760px 1365px #fff,
        1034px 542px #fff, 862px 644px #fff, 1771px 726px #fff,
        1116px 642px #fff, 1504px 192px #fff, 1735px 348px #fff,
        1552px 1747px #fff, 1165px 343px #fff, 192px 1932px #fff,
        211px 1864px #fff, 1514px 1724px #fff, 1908px 727px #fff,
        1313px 1594px #fff, 1988px 1620px #fff, 28px 1895px #fff,
        1144px 1498px #fff, 320px 366px #fff, 430px 465px #fff,
        1901px 239px #fff, 1681px 477px #fff, 639px 1920px #fff,
        618px 1468px #fff, 554px 1516px #fff, 25px 774px #fff, 1371px 469px #fff,
        729px 618px #fff, 582px 1080px #fff, 666px 955px #fff, 410px 1797px #fff,
        899px 1947px #fff, 1381px 1727px #fff, 266px 922px #fff,
        1328px 1439px #fff, 588px 325px #fff, 1819px 1516px #fff,
        740px 1726px #fff, 986px 493px #fff, 1772px 1813px #fff,
        1551px 1034px #fff, 1291px 332px #fff, 1256px 1010px #fff,
        555px 1379px #fff, 599px 1892px #fff, 1536px 1656px #fff,
        426px 1677px #fff, 1073px 1397px #fff, 424px 1451px #fff,
        883px 771px #fff, 1306px 39px #fff, 101px 1803px #fff, 566px 1134px #fff,
        327px 985px #fff, 6px 421px #fff, 1308px 449px #fff, 98px 1974px #fff,
        611px 1091px #fff, 689px 68px #fff, 443px 184px #fff, 1693px 673px #fff,
        1466px 1605px #fff, 1464px 131px #fff, 805px 1749px #fff,
        902px 1325px #fff, 1810px 1152px #fff, 1469px 861px #fff,
        1221px 1527px #fff, 1136px 982px #fff, 201px 1060px #fff,
        1163px 1996px #fff, 1776px 1595px #fff, 894px 1817px #fff,
        1051px 1044px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 950px 1394px #fff, 1037px 1042px #fff, 607px 997px #fff,
        904px 805px #fff, 650px 847px #fff, 1148px 979px #fff, 1456px 660px #fff,
        439px 142px #fff, 312px 937px #fff, 1307px 596px #fff, 154px 1307px #fff,
        1249px 725px #fff, 1976px 1607px #fff, 686px 593px #fff,
        596px 532px #fff, 457px 1081px #fff, 1790px 94px #fff, 355px 329px #fff,
        1022px 1466px #fff, 1328px 505px #fff, 322px 143px #fff,
        454px 1370px #fff, 751px 1762px #fff, 1637px 122px #fff,
        1577px 1229px #fff, 829px 1888px #fff, 913px 1519px #fff,
        1428px 504px #fff, 1799px 1839px #fff, 20px 756px #fff, 898px 269px #fff,
        560px 1243px #fff, 383px 1152px #fff, 407px 433px #fff,
        675px 1740px #fff, 1607px 1858px #fff, 781px 1966px #fff,
        299px 679px #fff, 92px 1497px #fff, 248px 68px #fff, 770px 230px #fff,
        757px 1531px #fff, 1546px 771px #fff, 1015px 1124px #fff,
        1550px 1065px #fff, 851px 148px #fff, 423px 843px #fff, 336px 294px #fff,
        396px 526px #fff, 1426px 1589px #fff, 778px 739px #fff,
        710px 1477px #fff, 1209px 1527px #fff, 1442px 262px #fff,
        1014px 903px #fff, 1882px 1610px #fff, 1417px 610px #fff,
        1502px 496px #fff, 596px 706px #fff, 649px 157px #fff,
        1572px 1917px #fff, 60px 349px #fff, 1315px 1156px #fff,
        467px 153px #fff, 109px 1997px #fff, 305px 1373px #fff,
        1384px 1463px #fff, 180px 1991px #fff, 28px 584px #fff,
        433px 1201px #fff, 993px 315px #fff, 635px 785px #fff, 1700px 346px #fff,
        1727px 685px #fff, 752px 530px #fff, 1434px 1909px #fff,
        790px 1466px #fff, 1374px 1855px #fff, 1281px 522px #fff,
        1361px 1107px #fff, 908px 1766px #fff, 1535px 1834px #fff,
        641px 351px #fff, 642px 696px #fff, 6px 881px #fff, 380px 1749px #fff,
        406px 209px #fff, 401px 1648px #fff, 750px 705px #fff, 511px 1550px #fff,
        82px 926px #fff, 368px 177px #fff, 1734px 123px #fff, 1044px 933px #fff,
        45px 1266px #fff, 1862px 1649px #fff, 592px 1472px #fff, 819px 3px #fff,
        60px 159px #fff, 885px 1564px #fff, 1829px 1145px #fff, 912px 793px #fff,
        325px 1155px #fff, 476px 1035px #fff, 1557px 955px #fff, 81px 135px #fff,
        300px 1365px #fff, 71px 1525px #fff, 1383px 240px #fff, 52px 1396px #fff,
        932px 1832px #fff, 307px 1119px #fff, 366px 1041px #fff,
        375px 287px #fff, 917px 217px #fff, 732px 1685px #fff, 221px 731px #fff,
        1825px 972px #fff, 1958px 1333px #fff, 1980px 1552px #fff,
        1605px 945px #fff, 155px 762px #fff, 1410px 1300px #fff,
        1478px 917px #fff, 1773px 738px #fff, 1534px 1034px #fff,
        330px 1551px #fff, 775px 1541px #fff, 914px 1998px #fff,
        448px 789px #fff, 1351px 160px #fff, 811px 284px #fff,
        1182px 1050px #fff, 76px 1509px #fff, 860px 1389px #fff,
        722px 740px #fff, 1379px 1036px #fff, 1210px 910px #fff, 774px 57px #fff,
        37px 865px #fff, 440px 445px #fff, 1013px 627px #fff, 253px 1012px #fff,
        1902px 1073px #fff, 1921px 1670px #fff, 219px 1068px #fff,
        963px 665px #fff, 324px 1751px #fff, 743px 572px #fff,
        1929px 1955px #fff, 1826px 509px #fff, 692px 1207px #fff,
        1049px 1454px #fff, 544px 1462px #fff, 1169px 176px #fff,
        1522px 109px #fff, 1082px 628px #fff, 538px 1077px #fff,
        1971px 1841px #fff, 1423px 311px #fff, 77px 1526px #fff,
        909px 1082px #fff, 434px 691px #fff, 926px 1706px #fff,
        971px 1627px #fff, 443px 185px #fff, 1644px 1646px #fff, 1171px 4px #fff,
        992px 220px #fff, 1318px 557px #fff, 1950px 1663px #fff,
        796px 319px #fff, 1130px 109px #fff, 1976px 1162px #fff,
        1150px 1006px #fff, 1401px 1224px #fff, 1024px 1461px #fff,
        1507px 189px #fff, 1788px 927px #fff, 323px 1919px #fff,
        1177px 753px #fff, 1119px 1159px #fff, 762px 1281px #fff,
        1616px 241px #fff, 1347px 454px #fff, 1669px 1327px #fff,
        1411px 560px #fff, 1547px 1288px #fff, 950px 1476px #fff,
        1806px 1248px #fff, 537px 1503px #fff, 355px 431px #fff,
        1703px 1438px #fff, 1195px 1524px #fff, 1117px 1426px #fff,
        245px 1994px #fff, 1053px 568px #fff, 1948px 1770px #fff,
        723px 607px #fff, 1875px 49px #fff, 1899px 519px #fff,
        1066px 1131px #fff, 1102px 1813px #fff, 1895px 1092px #fff,
        701px 1403px #fff, 137px 1132px #fff, 1098px 632px #fff,
        610px 1104px #fff, 497px 68px #fff, 1575px 1167px #fff,
        1403px 961px #fff, 548px 403px #fff, 338px 800px #fff,
        1086px 1688px #fff, 510px 928px #fff, 211px 1631px #fff,
        1162px 635px #fff, 1888px 937px #fff, 1947px 1089px #fff,
        1918px 433px #fff, 1258px 457px #fff, 1380px 1142px #fff,
        627px 707px #fff, 574px 516px #fff, 1905px 340px #fff,
        1425px 1783px #fff, 282px 1334px #fff, 684px 1976px #fff,
        1852px 1367px #fff, 983px 744px #fff, 801px 890px #fff,
        378px 1263px #fff, 1235px 736px #fff, 1132px 150px #fff,
        97px 1001px #fff, 1820px 734px #fff, 1307px 810px #fff,
        570px 1301px #fff, 1966px 1929px #fff, 759px 1340px #fff,
        1997px 1330px #fff, 1874px 553px #fff, 807px 415px #fff,
        775px 583px #fff, 648px 1595px #fff, 162px 131px #fff, 863px 1811px #fff,
        942px 390px #fff, 1263px 1211px #fff, 982px 941px #fff, 861px 464px #fff,
        1566px 1570px #fff, 849px 323px #fff, 675px 1382px #fff,
        1656px 462px #fff, 1350px 1857px #fff, 1317px 351px #fff,
        977px 1581px #fff, 533px 396px #fff, 1516px 1734px #fff,
        829px 1699px #fff, 52px 129px #fff, 266px 143px #fff, 762px 909px #fff,
        970px 1987px #fff, 1601px 1137px #fff, 1533px 1095px #fff,
        320px 409px #fff, 904px 1190px #fff, 606px 79px #fff, 471px 212px #fff,
        689px 799px #fff, 1670px 859px #fff, 423px 754px #fff, 327px 644px #fff,
        278px 1568px #fff, 1069px 1892px #fff, 52px 628px #fff, 571px 555px #fff,
        1056px 1159px #fff, 1999px 1025px #fff, 483px 1668px #fff,
        597px 1348px #fff, 1387px 1120px #fff, 1176px 939px #fff,
        283px 633px #fff, 1289px 1741px #fff, 242px 503px #fff, 784px 338px #fff,
        812px 1147px #fff, 1228px 1634px #fff, 301px 1354px #fff,
        1597px 420px #fff, 1647px 570px #fff, 1378px 670px #fff,
        141px 1055px #fff, 1757px 845px #fff, 769px 1913px #fff,
        1512px 1138px #fff, 1723px 1633px #fff, 1768px 182px #fff,
        1413px 297px #fff, 1571px 1714px #fff, 1600px 379px #fff,
        1979px 106px #fff, 1403px 964px #fff, 1604px 31px #fff, 817px 674px #fff,
        355px 1211px #fff, 163px 1686px #fff, 1552px 979px #fff,
        400px 1278px #fff, 383px 530px #fff, 90px 1508px #fff,
        1211px 1957px #fff, 549px 739px #fff, 351px 208px #fff,
        1385px 327px #fff, 48px 991px #fff, 239px 862px #fff, 1432px 1891px #fff,
        1901px 608px #fff, 384px 844px #fff, 759px 1143px #fff,
        1714px 876px #fff, 719px 699px #fff, 498px 5px #fff, 856px 1287px #fff,
        933px 8px #fff, 1734px 247px #fff, 911px 104px #fff, 1546px 143px #fff,
        503px 791px #fff, 130px 139px #fff, 1226px 310px #fff,
        1320px 1413px #fff, 1052px 1990px #fff, 753px 1462px #fff,
        1501px 411px #fff, 1202px 1603px #fff, 680px 1351px #fff,
        8px 1358px #fff, 805px 1678px #fff, 1776px 349px #fff,
        1293px 1273px #fff, 932px 1407px #fff, 10px 1849px #fff,
        1706px 1134px #fff, 1055px 1728px #fff, 1578px 1510px #fff,
        1445px 1519px #fff, 196px 1249px #fff, 736px 1853px #fff,
        881px 1501px #fff, 39px 183px #fff, 184px 1698px #fff, 595px 1877px #fff,
        1995px 1927px #fff, 644px 355px #fff, 729px 1479px #fff, 378px 1px #fff,
        591px 1399px #fff, 1805px 1119px #fff, 243px 1329px #fff,
        1871px 132px #fff, 888px 132px #fff, 1764px 323px #fff, 47px 1246px #fff,
        1859px 1125px #fff, 925px 760px #fff, 1170px 842px #fff,
        1980px 678px #fff, 873px 1378px #fff, 1045px 1853px #fff,
        307px 701px #fff, 516px 339px #fff, 1874px 1911px #fff,
        685px 1751px #fff, 446px 426px #fff, 1810px 377px #fff, 335px 770px #fff,
        338px 928px #fff, 687px 1504px #fff, 1036px 220px #fff,
        1433px 1113px #fff, 1378px 345px #fff, 908px 1122px #fff,
        459px 580px #fff, 1082px 1693px #fff, 812px 1802px #fff,
        743px 480px #fff, 1394px 651px #fff, 1488px 1010px #fff,
        1514px 1690px #fff, 91px 1173px #fff, 1615px 41px #fff,
        1866px 1070px #fff, 406px 898px #fff, 1435px 613px #fff,
        1363px 1969px #fff, 658px 1600px #fff, 1312px 1397px #fff,
        209px 1147px #fff, 1896px 1637px #fff, 1603px 1160px #fff,
        1195px 1577px #fff, 1731px 1803px #fff, 821px 1254px #fff,
        1119px 1522px #fff, 556px 826px #fff, 836px 612px #fff,
        161px 1644px #fff, 887px 393px #fff, 1501px 881px #fff, 938px 531px #fff,
        1261px 515px #fff, 509px 1615px #fff, 428px 257px #fff,
        1861px 918px #fff, 310px 746px #fff, 1937px 79px #fff, 964px 1164px #fff,
        232px 1896px #fff, 896px 337px #fff, 1836px 148px #fff,
        391px 1917px #fff, 955px 1019px #fff, 1623px 1185px #fff,
        1187px 1216px #fff, 10px 1290px #fff, 83px 1012px #fff,
        1572px 1813px #fff, 1067px 1659px #fff, 1888px 520px #fff,
        55px 1409px #fff, 1638px 1951px #fff, 258px 948px #fff, 307px 509px #fff,
        310px 251px #fff, 499px 1365px #fff, 218px 1847px #fff,
        822px 1287px #fff, 499px 1023px #fff, 653px 419px #fff,
        1376px 1170px #fff, 807px 1797px #fff, 204px 1588px #fff,
        1577px 1433px #fff, 757px 1832px #fff, 1458px 1731px #fff,
        69px 1929px #fff, 1855px 511px #fff, 462px 1814px #fff, 142px 900px #fff,
        482px 854px #fff, 734px 831px #fff, 164px 948px #fff, 1004px 1559px #fff,
        581px 1762px #fff, 1908px 453px #fff, 1858px 910px #fff,
        445px 1258px #fff, 138px 1543px #fff, 46px 1914px #fff,
        1733px 673px #fff, 1615px 815px #fff, 1947px 527px #fff,
        416px 772px #fff, 1231px 142px #fff, 689px 1129px #fff, 822px 660px #fff,
        1471px 474px #fff, 650px 99px #fff, 602px 1552px #fff,
        1774px 1401px #fff, 1627px 975px #fff, 315px 945px #fff,
        1606px 1650px #fff, 1737px 105px #fff, 980px 1800px #fff,
        1364px 318px #fff, 442px 1972px #fff, 1428px 1812px #fff,
        598px 766px #fff, 333px 1632px #fff, 944px 1168px #fff,
        1527px 644px #fff, 816px 278px #fff, 1547px 799px #fff,
        1839px 263px #fff, 745px 1469px #fff, 272px 739px #fff,
        186px 1127px #fff, 1864px 27px #fff, 945px 310px #fff,
        1309px 1089px #fff, 500px 885px #fff, 1504px 287px #fff,
        1529px 1752px #fff, 1944px 321px #fff, 868px 256px #fff,
        1187px 94px #fff, 1127px 1230px #fff, 161px 358px #fff,
        672px 1859px #fff, 1941px 1367px #fff, 913px 1502px #fff,
        1905px 1233px #fff, 257px 1578px #fff, 1795px 11px #fff,
        1321px 1918px #fff, 1115px 1731px #fff, 1258px 1011px #fff,
        1366px 1736px #fff, 1668px 1867px #fff, 21px 318px #fff,
        561px 1512px #fff, 854px 599px #fff, 985px 624px #fff,
        1842px 1846px #fff, 1927px 1693px #fff, 862px 1209px #fff,
        1166px 351px #fff, 554px 690px #fff, 358px 1856px #fff,
        357px 1398px #fff, 1699px 1219px #fff, 1218px 571px #fff,
        458px 1429px #fff, 75px 1412px #fff, 1707px 856px #fff, 3px 479px #fff,
        91px 1395px #fff, 1769px 929px #fff, 21px 951px #fff, 1504px 259px #fff,
        1095px 279px #fff, 1527px 247px #fff, 1411px 54px #fff,
        1055px 1790px #fff, 1746px 239px #fff, 723px 640px #fff,
        1806px 1672px #fff, 956px 1334px #fff, 1834px 536px #fff,
        1364px 203px #fff, 542px 1383px #fff, 1974px 1800px #fff,
        736px 1364px #fff, 1605px 1568px #fff, 1413px 881px #fff,
        1734px 195px #fff, 1401px 404px #fff, 1795px 349px #fff,
        402px 272px #fff, 1657px 1039px #fff, 902px 1425px #fff, 458px 32px #fff,
        596px 916px #fff, 29px 678px #fff, 1061px 502px #fff, 1527px 688px #fff,
        1676px 1589px #fff, 1594px 599px #fff, 717px 1958px #fff,
        1551px 1818px #fff, 1238px 1275px #fff, 445px 1474px #fff,
        521px 1528px #fff, 367px 212px #fff, 1950px 1952px #fff,
        664px 614px #fff, 956px 1051px #fff, 774px 1742px #fff,
        1768px 219px #fff, 1669px 1940px #fff, 922px 217px #fff,
        1668px 26px #fff, 1751px 82px #fff, 1183px 220px #fff, 411px 1270px #fff,
        1269px 1898px #fff, 971px 1182px #fff, 1494px 907px #fff,
        937px 508px #fff, 507px 1571px #fff, 792px 888px #fff, 1925px 905px #fff,
        1317px 1093px #fff, 182px 400px #fff, 316px 1618px #fff, 307px 49px #fff,
        1723px 1270px #fff, 520px 815px #fff, 1610px 224px #fff,
        884px 1042px #fff, 176px 1106px #fff, 1815px 265px #fff,
        1829px 450px #fff, 664px 1879px #fff, 370px 1001px #fff,
        1132px 1801px #fff, 1010px 1223px #fff, 884px 718px #fff,
        1727px 438px #fff, 901px 716px #fff, 140px 33px #fff, 1432px 84px #fff,
        752px 377px #fff, 524px 1893px #fff, 1654px 272px #fff, 882px 525px #fff,
        1255px 1155px #fff, 32px 483px #fff, 614px 1489px #fff,
        1393px 1254px #fff, 254px 1628px #fff, 22px 1180px #fff,
        1095px 1753px #fff, 1237px 526px #fff, 64px 202px #fff, 1065px 27px #fff,
        1166px 1519px #fff, 1506px 1275px #fff, 6px 894px #fff,
        1066px 1180px #fff, 810px 1054px #fff, 760px 1365px #fff,
        1034px 542px #fff, 862px 644px #fff, 1771px 726px #fff,
        1116px 642px #fff, 1504px 192px #fff, 1735px 348px #fff,
        1552px 1747px #fff, 1165px 343px #fff, 192px 1932px #fff,
        211px 1864px #fff, 1514px 1724px #fff, 1908px 727px #fff,
        1313px 1594px #fff, 1988px 1620px #fff, 28px 1895px #fff,
        1144px 1498px #fff, 320px 366px #fff, 430px 465px #fff,
        1901px 239px #fff, 1681px 477px #fff, 639px 1920px #fff,
        618px 1468px #fff, 554px 1516px #fff, 25px 774px #fff, 1371px 469px #fff,
        729px 618px #fff, 582px 1080px #fff, 666px 955px #fff, 410px 1797px #fff,
        899px 1947px #fff, 1381px 1727px #fff, 266px 922px #fff,
        1328px 1439px #fff, 588px 325px #fff, 1819px 1516px #fff,
        740px 1726px #fff, 986px 493px #fff, 1772px 1813px #fff,
        1551px 1034px #fff, 1291px 332px #fff, 1256px 1010px #fff,
        555px 1379px #fff, 599px 1892px #fff, 1536px 1656px #fff,
        426px 1677px #fff, 1073px 1397px #fff, 424px 1451px #fff,
        883px 771px #fff, 1306px 39px #fff, 101px 1803px #fff, 566px 1134px #fff,
        327px 985px #fff, 6px 421px #fff, 1308px 449px #fff, 98px 1974px #fff,
        611px 1091px #fff, 689px 68px #fff, 443px 184px #fff, 1693px 673px #fff,
        1466px 1605px #fff, 1464px 131px #fff, 805px 1749px #fff,
        902px 1325px #fff, 1810px 1152px #fff, 1469px 861px #fff,
        1221px 1527px #fff, 1136px 982px #fff, 201px 1060px #fff,
        1163px 1996px #fff, 1776px 1595px #fff, 894px 1817px #fff,
        1051px 1044px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 712px 1990px #fff, 531px 145px #fff, 107px 578px #fff,
        579px 2000px #fff, 361px 1461px #fff, 1502px 357px #fff,
        284px 1793px #fff, 1285px 159px #fff, 1918px 1920px #fff,
        395px 112px #fff, 1555px 1285px #fff, 393px 1896px #fff,
        1937px 1695px #fff, 220px 228px #fff, 1287px 725px #fff, 6px 1558px #fff,
        1165px 49px #fff, 937px 1870px #fff, 1456px 1181px #fff,
        233px 301px #fff, 369px 273px #fff, 1818px 1747px #fff,
        1958px 113px #fff, 1511px 1131px #fff, 940px 1348px #fff,
        1613px 23px #fff, 1688px 1276px #fff, 1207px 210px #fff,
        976px 160px #fff, 1450px 1153px #fff, 479px 642px #fff, 841px 985px #fff,
        1691px 1647px #fff, 32px 1856px #fff, 1534px 1930px #fff,
        506px 1494px #fff, 886px 1811px #fff, 630px 842px #fff,
        502px 1265px #fff, 448px 945px #fff, 1577px 1863px #fff, 90px 147px #fff,
        1410px 38px #fff, 948px 831px #fff, 1169px 235px #fff, 56px 1548px #fff,
        337px 525px #fff, 1188px 810px #fff, 1564px 973px #fff,
        795px 1524px #fff, 1993px 469px #fff, 991px 625px #fff,
        950px 1217px #fff, 619px 1620px #fff, 1275px 527px #fff,
        1358px 1643px #fff, 508px 1737px #fff, 1919px 207px #fff,
        485px 130px #fff, 1413px 534px #fff, 1069px 1542px #fff,
        1370px 982px #fff, 756px 344px #fff, 1188px 716px #fff, 421px 244px #fff,
        1351px 1264px #fff, 597px 926px #fff, 736px 479px #fff,
        1154px 1580px #fff, 1515px 943px #fff, 802px 1132px #fff,
        950px 1179px #fff, 219px 1026px #fff, 1016px 1274px #fff,
        1535px 736px #fff, 643px 1976px #fff, 711px 1573px #fff,
        11px 1564px #fff, 1606px 580px #fff, 831px 413px #fff, 365px 444px #fff,
        1984px 1447px #fff, 146px 618px #fff, 1414px 1532px #fff,
        1611px 1218px #fff, 295px 1285px #fff, 223px 258px #fff,
        1846px 756px #fff, 1430px 84px #fff, 1614px 1270px #fff,
        420px 1151px #fff, 368px 1273px #fff, 98px 202px #fff, 916px 121px #fff,
        1811px 1894px #fff, 1531px 1198px #fff, 1433px 1031px #fff,
        1338px 644px #fff, 123px 256px #fff, 1020px 1896px #fff,
        576px 583px #fff, 811px 895px #fff, 1209px 776px #fff, 1530px 600px #fff,
        912px 1445px #fff, 639px 1788px #fff, 1901px 1029px #fff,
        604px 203px #fff, 1766px 386px #fff, 1940px 982px #fff,
        1519px 419px #fff, 1301px 216px #fff, 1913px 643px #fff,
        1751px 339px #fff, 938px 973px #fff, 1734px 245px #fff,
        777px 1757px #fff, 456px 1647px #fff, 1449px 1247px #fff,
        120px 1786px #fff, 1346px 643px #fff, 1540px 1179px #fff,
        1890px 240px #fff, 901px 1894px #fff, 424px 617px #fff, 966px 845px #fff,
        929px 624px #fff, 740px 1038px #fff, 539px 1141px #fff,
        721px 1063px #fff, 1280px 1761px #fff, 1260px 1779px #fff,
        1094px 1566px #fff, 545px 612px #fff, 1599px 881px #fff,
        590px 405px #fff, 175px 1387px #fff, 382px 408px #fff,
        1192px 1515px #fff, 1797px 855px #fff, 1643px 964px #fff,
        1591px 605px #fff, 1881px 714px #fff, 773px 1326px #fff,
        678px 1198px #fff, 1645px 243px #fff, 173px 1368px #fff,
        1286px 863px #fff, 1039px 84px #fff, 648px 1099px #fff,
        354px 1060px #fff, 982px 270px #fff, 256px 402px #fff, 129px 73px #fff,
        1271px 1877px #fff, 589px 899px #fff, 1727px 1130px #fff,
        1660px 1855px #fff, 119px 1302px #fff, 1523px 349px #fff,
        479px 1768px #fff, 723px 358px #fff, 1444px 379px #fff,
        1718px 776px #fff, 1905px 319px #fff, 868px 1333px #fff,
        1612px 1010px #fff, 1229px 1289px #fff, 509px 754px #fff,
        446px 659px #fff, 1063px 799px #fff, 523px 880px #fff, 1394px 569px #fff,
        1800px 1341px #fff, 1934px 220px #fff, 614px 561px #fff,
        1129px 1440px #fff, 940px 1509px #fff, 1328px 1416px #fff,
        834px 181px #fff, 1631px 522px #fff, 1900px 418px #fff,
        1010px 1032px #fff, 149px 1466px #fff, 555px 1649px #fff,
        1583px 1415px #fff, 680px 1240px #fff, 833px 315px #fff,
        159px 240px #fff, 744px 66px #fff, 993px 1302px #fff, 142px 1198px #fff,
        245px 699px #fff, 119px 94px #fff, 1752px 1067px #fff, 1098px 80px #fff,
        1865px 69px #fff, 1786px 118px #fff, 210px 355px #fff, 1352px 540px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 712px 1990px #fff, 531px 145px #fff, 107px 578px #fff,
        579px 2000px #fff, 361px 1461px #fff, 1502px 357px #fff,
        284px 1793px #fff, 1285px 159px #fff, 1918px 1920px #fff,
        395px 112px #fff, 1555px 1285px #fff, 393px 1896px #fff,
        1937px 1695px #fff, 220px 228px #fff, 1287px 725px #fff, 6px 1558px #fff,
        1165px 49px #fff, 937px 1870px #fff, 1456px 1181px #fff,
        233px 301px #fff, 369px 273px #fff, 1818px 1747px #fff,
        1958px 113px #fff, 1511px 1131px #fff, 940px 1348px #fff,
        1613px 23px #fff, 1688px 1276px #fff, 1207px 210px #fff,
        976px 160px #fff, 1450px 1153px #fff, 479px 642px #fff, 841px 985px #fff,
        1691px 1647px #fff, 32px 1856px #fff, 1534px 1930px #fff,
        506px 1494px #fff, 886px 1811px #fff, 630px 842px #fff,
        502px 1265px #fff, 448px 945px #fff, 1577px 1863px #fff, 90px 147px #fff,
        1410px 38px #fff, 948px 831px #fff, 1169px 235px #fff, 56px 1548px #fff,
        337px 525px #fff, 1188px 810px #fff, 1564px 973px #fff,
        795px 1524px #fff, 1993px 469px #fff, 991px 625px #fff,
        950px 1217px #fff, 619px 1620px #fff, 1275px 527px #fff,
        1358px 1643px #fff, 508px 1737px #fff, 1919px 207px #fff,
        485px 130px #fff, 1413px 534px #fff, 1069px 1542px #fff,
        1370px 982px #fff, 756px 344px #fff, 1188px 716px #fff, 421px 244px #fff,
        1351px 1264px #fff, 597px 926px #fff, 736px 479px #fff,
        1154px 1580px #fff, 1515px 943px #fff, 802px 1132px #fff,
        950px 1179px #fff, 219px 1026px #fff, 1016px 1274px #fff,
        1535px 736px #fff, 643px 1976px #fff, 711px 1573px #fff,
        11px 1564px #fff, 1606px 580px #fff, 831px 413px #fff, 365px 444px #fff,
        1984px 1447px #fff, 146px 618px #fff, 1414px 1532px #fff,
        1611px 1218px #fff, 295px 1285px #fff, 223px 258px #fff,
        1846px 756px #fff, 1430px 84px #fff, 1614px 1270px #fff,
        420px 1151px #fff, 368px 1273px #fff, 98px 202px #fff, 916px 121px #fff,
        1811px 1894px #fff, 1531px 1198px #fff, 1433px 1031px #fff,
        1338px 644px #fff, 123px 256px #fff, 1020px 1896px #fff,
        576px 583px #fff, 811px 895px #fff, 1209px 776px #fff, 1530px 600px #fff,
        912px 1445px #fff, 639px 1788px #fff, 1901px 1029px #fff,
        604px 203px #fff, 1766px 386px #fff, 1940px 982px #fff,
        1519px 419px #fff, 1301px 216px #fff, 1913px 643px #fff,
        1751px 339px #fff, 938px 973px #fff, 1734px 245px #fff,
        777px 1757px #fff, 456px 1647px #fff, 1449px 1247px #fff,
        120px 1786px #fff, 1346px 643px #fff, 1540px 1179px #fff,
        1890px 240px #fff, 901px 1894px #fff, 424px 617px #fff, 966px 845px #fff,
        929px 624px #fff, 740px 1038px #fff, 539px 1141px #fff,
        721px 1063px #fff, 1280px 1761px #fff, 1260px 1779px #fff,
        1094px 1566px #fff, 545px 612px #fff, 1599px 881px #fff,
        590px 405px #fff, 175px 1387px #fff, 382px 408px #fff,
        1192px 1515px #fff, 1797px 855px #fff, 1643px 964px #fff,
        1591px 605px #fff, 1881px 714px #fff, 773px 1326px #fff,
        678px 1198px #fff, 1645px 243px #fff, 173px 1368px #fff,
        1286px 863px #fff, 1039px 84px #fff, 648px 1099px #fff,
        354px 1060px #fff, 982px 270px #fff, 256px 402px #fff, 129px 73px #fff,
        1271px 1877px #fff, 589px 899px #fff, 1727px 1130px #fff,
        1660px 1855px #fff, 119px 1302px #fff, 1523px 349px #fff,
        479px 1768px #fff, 723px 358px #fff, 1444px 379px #fff,
        1718px 776px #fff, 1905px 319px #fff, 868px 1333px #fff,
        1612px 1010px #fff, 1229px 1289px #fff, 509px 754px #fff,
        446px 659px #fff, 1063px 799px #fff, 523px 880px #fff, 1394px 569px #fff,
        1800px 1341px #fff, 1934px 220px #fff, 614px 561px #fff,
        1129px 1440px #fff, 940px 1509px #fff, 1328px 1416px #fff,
        834px 181px #fff, 1631px 522px #fff, 1900px 418px #fff,
        1010px 1032px #fff, 149px 1466px #fff, 555px 1649px #fff,
        1583px 1415px #fff, 680px 1240px #fff, 833px 315px #fff,
        159px 240px #fff, 744px 66px #fff, 993px 1302px #fff, 142px 1198px #fff,
        245px 699px #fff, 119px 94px #fff, 1752px 1067px #fff, 1098px 80px #fff,
        1865px 69px #fff, 1786px 118px #fff, 210px 355px #fff, 1352px 540px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 707px 1028px #fff, 1376px 1873px #fff, 1646px 1907px #fff,
        1746px 264px #fff, 1259px 376px #fff, 1281px 1700px #fff,
        378px 1386px #fff, 654px 1879px #fff, 1061px 1339px #fff,
        921px 40px #fff, 424px 1948px #fff, 775px 1274px #fff, 1728px 699px #fff,
        973px 60px #fff, 611px 1101px #fff, 870px 496px #fff, 739px 1971px #fff,
        1535px 195px #fff, 1194px 1835px #fff, 445px 862px #fff,
        532px 1296px #fff, 171px 650px #fff, 777px 965px #fff, 720px 1480px #fff,
        750px 1174px #fff, 1256px 456px #fff, 374px 157px #fff,
        1259px 137px #fff, 820px 1765px #fff, 805px 662px #fff,
        1719px 963px #fff, 472px 1464px #fff, 345px 999px #fff, 397px 277px #fff,
        1734px 1129px #fff, 1807px 729px #fff, 666px 291px #fff,
        1747px 212px #fff, 1058px 1503px #fff, 267px 1653px #fff,
        1853px 1590px #fff, 867px 1854px #fff, 1518px 1451px #fff,
        537px 458px #fff, 521px 432px #fff, 1530px 530px #fff, 1445px 583px #fff,
        1427px 576px #fff, 1555px 110px #fff, 1794px 1899px #fff,
        1277px 1576px #fff, 448px 1378px #fff, 297px 428px #fff,
        1691px 1920px #fff, 1050px 488px #fff, 1131px 1720px #fff,
        469px 160px #fff, 56px 502px #fff, 1166px 458px #fff, 1846px 528px #fff,
        1267px 505px #fff, 1095px 1592px #fff, 1919px 1518px #fff,
        1682px 961px #fff, 598px 228px #fff, 507px 1831px #fff,
        1172px 1835px #fff, 557px 626px #fff, 33px 1375px #fff,
        1683px 580px #fff, 1007px 1895px #fff, 663px 561px #fff,
        105px 1697px #fff, 1752px 809px #fff, 1326px 71px #fff, 77px 1517px #fff,
        1650px 372px #fff, 1855px 684px #fff, 851px 861px #fff,
        806px 1191px #fff, 1526px 209px #fff, 167px 752px #fff,
        1667px 798px #fff, 957px 56px #fff, 1054px 1407px #fff,
        1989px 526px #fff, 452px 409px #fff, 20px 62px #fff, 1160px 945px #fff,
        814px 1159px #fff, 928px 1660px #fff, 1857px 130px #fff,
        1688px 842px #fff, 1843px 302px #fff, 335px 411px #fff, 115px 726px #fff,
        1118px 1420px #fff, 1422px 916px #fff, 1758px 1339px #fff,
        27px 617px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 707px 1028px #fff, 1376px 1873px #fff, 1646px 1907px #fff,
        1746px 264px #fff, 1259px 376px #fff, 1281px 1700px #fff,
        378px 1386px #fff, 654px 1879px #fff, 1061px 1339px #fff,
        921px 40px #fff, 424px 1948px #fff, 775px 1274px #fff, 1728px 699px #fff,
        973px 60px #fff, 611px 1101px #fff, 870px 496px #fff, 739px 1971px #fff,
        1535px 195px #fff, 1194px 1835px #fff, 445px 862px #fff,
        532px 1296px #fff, 171px 650px #fff, 777px 965px #fff, 720px 1480px #fff,
        750px 1174px #fff, 1256px 456px #fff, 374px 157px #fff,
        1259px 137px #fff, 820px 1765px #fff, 805px 662px #fff,
        1719px 963px #fff, 472px 1464px #fff, 345px 999px #fff, 397px 277px #fff,
        1734px 1129px #fff, 1807px 729px #fff, 666px 291px #fff,
        1747px 212px #fff, 1058px 1503px #fff, 267px 1653px #fff,
        1853px 1590px #fff, 867px 1854px #fff, 1518px 1451px #fff,
        537px 458px #fff, 521px 432px #fff, 1530px 530px #fff, 1445px 583px #fff,
        1427px 576px #fff, 1555px 110px #fff, 1794px 1899px #fff,
        1277px 1576px #fff, 448px 1378px #fff, 297px 428px #fff,
        1691px 1920px #fff, 1050px 488px #fff, 1131px 1720px #fff,
        469px 160px #fff, 56px 502px #fff, 1166px 458px #fff, 1846px 528px #fff,
        1267px 505px #fff, 1095px 1592px #fff, 1919px 1518px #fff,
        1682px 961px #fff, 598px 228px #fff, 507px 1831px #fff,
        1172px 1835px #fff, 557px 626px #fff, 33px 1375px #fff,
        1683px 580px #fff, 1007px 1895px #fff, 663px 561px #fff,
        105px 1697px #fff, 1752px 809px #fff, 1326px 71px #fff, 77px 1517px #fff,
        1650px 372px #fff, 1855px 684px #fff, 851px 861px #fff,
        806px 1191px #fff, 1526px 209px #fff, 167px 752px #fff,
        1667px 798px #fff, 957px 56px #fff, 1054px 1407px #fff,
        1989px 526px #fff, 452px 409px #fff, 20px 62px #fff, 1160px 945px #fff,
        814px 1159px #fff, 928px 1660px #fff, 1857px 130px #fff,
        1688px 842px #fff, 1843px 302px #fff, 335px 411px #fff, 115px 726px #fff,
        1118px 1420px #fff, 1422px 916px #fff, 1758px 1339px #fff,
        27px 617px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
