@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0px;
    padding: 0px;
    cursor: url("assets/img/ellipse979.cur") 20 20, auto;
}
body {
    font-family: Poppins, sans-serif;
    margin: 0px;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/*----------------------------------- CURSOR ---------------------------------- */
.cursor {
    cursor: url("assets/img/ellipse979.cur"), auto;
    --cursor: #64ffda;
    position: fixed;
    top: -50px;
    z-index: 120;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #64ffda80;
    opacity: 0.5;
    /* border: solid 2px var(--cursor); */
    pointer-events: none;
}
/* -----------------------------------NAVBAR------------------------------------- */
header {
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #112240;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    color: #ccd6f6;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #8892b0;
    text-decoration: none;
    display: block;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: #8892b0;
    background: #64ffda;
}

.menu-toggle {
    z-index: 110;
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        /*display: none;*/
        position: absolute;
        width: 100%;
        height: 225px;
        background: #112240;
        top: 100%;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
}
/*---------------------------------- BACKGROUND ------------------------------------ */
section {
    z-index: -1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0a192f;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section .roww {
    z-index: -1000;
    position: relative;
    top: -90%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
i {
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    color: #64ffda10;
    /* text-shadow: 0 0 120px #64ffda; */
}
section .roww div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}
section .roww div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}
/* @keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
} */

section .roww:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}
section .roww:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}
/* @keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
} */
/* ---------------------------------------ABOUT ME------------------------------------ */

.row {
    margin: 0px;
    padding: 0px;
}
.main-container {
    padding-top: 50px;
}
.first {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 90;
    padding-bottom: 0px;
    right: 0px;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    bottom: 0px;
}
.contact-me {
    margin: auto;
    color: #64ffda;
    font-size: 50px;
}
.contact-me:hover {
    text-shadow: 0 0 25px #64ffda, 0 0 50px #64ffda, 0 0 100px #64ffda,
        0 0 150px #64ffda, 0 0 200px #64ffda, 0 0 250px #64ffda;
}
.glow {
    text-shadow: 0 0 25px #64ffda, 0 0 50px #64ffda, 0 0 100px #64ffda,
        0 0 150px #64ffda, 0 0 200px #64ffda, 0 0 250px #64ffda;
}
.second {
    margin-top: 50px;
    height: auto;
}
@media (max-width: 576px) {
    .first {
        display: none;
    }
}
.secondary-container {
}
.home {
    border: 3px;
    border-color: #64ffda;
    border-style: solid;
    border-radius: 10px;
    height: 500px;
    margin-bottom: 100px;
    background-color: #64ffda10;
}

/*  ----------------ABOUT ME---------------------- */

.about-me {
    display: flex;
    border: 3px;
    border-color: #64ffda;
    border-style: solid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 100px;
    background-color: #64ffda10;
}
/* .about-me-row {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
} */
.about-me-heading {
    display: none;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    color: #8892b0;
    font-size: 24px;
}
.aboutme-desc {
    color: #ccd6f6;
    font-size: 16px;
}
.vertical-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: #8892b0;
    font-size: 24px;
    transform: rotate(90deg);
    white-space: nowrap;
    left: 0px;
}
/* -------------------PROJECTS------------------------- */
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px;
    border-color: #64ffda;
    border-style: solid;
    border-radius: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    background-color: #64ffda10;
}
.project-image {
    /* background-color: ; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.project-desc {
    /* background-color: ; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1em;
    color: #64ffda;
}
.project-name {
    text-align: center;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.project-name-desc {
    /* text-align: center; */
    display: block;
    margin-bottom: 1rem;
}
.project-link {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
    border: solid 3px #64ffda;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.project-link .contact-me {
    margin: 0px;
    font-size: 40px;
}
.view-code {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------footer---------------------------- */
.footer {
    margin: 0;
    border: 3px;
    border-color: #64ffda;
    border-style: solid;
    border-radius: 10px 10px 0 0;
    height: 300px;
    background-color: #112240;
}
/* -----------------------MISCELLANEOUS--------------------- */
@media (max-width: 576px) {
    .about-me {
        padding-top: 2.5rem;
    }
    .projects {
        padding-top: 2.5rem;
    }
    .vertical-text {
        display: none;
    }
    .about-me-heading {
        display: unset;
    }
}
.btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 25px 15px;
    color: #64ffda;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 2px;
    border: solid 1px #64ffda;
}
.btn:hover {
    background-color: #64ffda;
    color: #0a192f;
    border-radius: 10px;
    box-shadow: 0 0 5px #64ffda80, 0 0 25px #64ffda70, 0 0 50px #64ffda60,
        0 0 100px #64ffda50;
}
/* --------------------------------------ROW----------------------------------------- */
