@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    cursor: url("assets/img/ellipse979.cur") 20 20, auto;
}
body {
    font-family: Poppins, sans-serif;
}
/*----------------------------------- CURSOR ---------------------------------- */
.cursor {
    cursor: url("assets/img/ellipse979.cur"), auto;
    --cursor: #64ffda;
    position: fixed;
    top: -50px;
    z-index: 120;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #64ffda80;
    opacity: 0.5;
    /* border: solid 2px var(--cursor); */
    pointer-events: none;
}
/* -----------------------------------NAVBAR------------------------------------- */
header {
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #112240;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    color: #ccd6f6;
    height: 50px;
    line-height: 50px;
    font-size: 34;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #8892b0;
    text-decoration: none;
    display: block;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: #8892b0;
    background: #64ffda;
}

.menu-toggle {
    z-index: 110;
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        /*display: none;*/
        position: absolute;
        width: 100%;
        height: 225px;
        background: #112240;
        top: 100%;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
}
/*---------------------------------- BACKGROUND ------------------------------------ */
section {
    z-index: -1000;
    margin-top: -50px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0a192f;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section .roww {
    z-index: -1000;
    position: relative;
    top: -90%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
i {
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    color: #64ffda10;
    /* text-shadow: 0 0 120px #64ffda; */
}
section .roww div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}
section .roww div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

section .roww:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}
section .roww:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}
/* ---------------------------------------ABOUT ME------------------------------------ */
.containerr {
    margin-top: 50px;
    position: relative;
    display: block;
    z-index: 90;

    justify-content: center;
    align-items: center;
}
.home {
    display: block;
    user-select: none;
    position: relative;
    margin-top: 20px;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 50px;
    margin-right: 50px;
    width: 90vw;
    height: auto;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}
.emphsz {
    color: #64ffda;
}
.hi {
    color: #64ffda;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
}
.name {
    padding-left: 15px;
    padding-bottom: 30px;
    padding-right: 15px;
    color: #ccd6f6;
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.desc {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    color: #8892b0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
}
.brdDesc {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #8892b0;
}
@media (max-width: 991px) {
    .hi {
        padding-bottom: 10px;
    }
    .name {
        padding-bottom: 10px;
        font-size: 2rem;
    }
    .desc {
        font-size: 1.5rem;
        line-height: 1.1;
    }
}
.btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 25px 15px;
    color: #64ffda;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 2px;
    border: solid 1px #64ffda;
}
.btn:hover {
    background-color: #64ffda;
    color: #0a192f;
    border-radius: 10px;
    box-shadow: 0 0 5px #64ffda80, 0 0 25px #64ffda70, 0 0 50px #64ffda60,
        0 0 100px #64ffda50;
}
/* --------------------------------------ROW----------------------------------------- */
